@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pierre PETIT - Hugo Piat</h1
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lister les produits</h2
        <p><a class="btn btn-default" href="/product/index">GO</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Ajouter un produit
        </h2>
        <p><a class="btn btn-default" href="/createProduct/index">GO</a></p>
    </div>
</div>